<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>HotOrNot Twitter Trends</h1>
</head>
<body>

    <form method="POST">
        <input type = text id = "keyword" name="text">
        <input type="submit">
    </form>
        <div class="column">
            <h2>What does this Website do?</h2>
            <p>
                This website will scrape Twitter to find tweets
            based off user keywords and return a sentiment analysis
            of the tweets
            </p>
            <h2>Top 3 Most Positive Tweets</h2>
        </div>

        <div class="column">
            <h2>What does this Website Utilize?</h2>
            <p>
                This website uses python to scrape Twitter for tweets and cohere's
                sentiment analysis NLP api to determine whether the tweet is
                positive or negative
            </p>
            <h2>Top 3 Most Negative Tweets</h2>
        </div>


</body>
</html>